/* CSS de base pour le formulaire de contact */
.contact__form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1-12 {
    width: 100%;
    max-width: 600px;
}

.bg1-base {
    background-color: #7c8688; /* Couleur de fond */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.contact__input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

textarea.contact__input {
    height: 150px;
    resize: none;
}

.contact__message {
    color: blue;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #022a30;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #bfd663;
    color: white;
}

/* Media queries pour rendre le formulaire responsive */
@media (max-width: 768px) {
    .bg1-base {
        padding: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    .contact__input {
        font-size: 0.9rem;
    }

    input[type="submit"] {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

@media (max-width: 576px) {
    .bg1-base {
        padding: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .contact__input {
        font-size: 0.8rem;
    }

    input[type="submit"] {
        font-size: 0.8rem;
        padding: 0.4rem;
    }
}
